firebase-debug.log
.DS_Store
.omx/
.omc/
.codex/
.claude/
.gaori/*
!.gaori/tester.yaml
!.gaori/tester/
.gaori/tester/*
!.gaori/tester/rules/
.gaori/tester/rules/*
!.gaori/tester/rules/*.yaml
.gjc/

/.mulgae/*
!/.mulgae/config.yaml

.vscode
data/
tmp/
docs_repos/
bin/

conductor/
